@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300&family=Lexend+Deca:wght@200&display=swap');

:root {
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
#container{
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 140px auto;
}
.box{
   padding: 40px 35px 50px;
}
.orange{
    background-color: var(--Bright-orange);
    border-radius: 10px 0px 0px 10px;
}
.cyan{
    background-color: var(--Dark-cyan);
}
.dark{
    background-color: var(--Very-dark-cyan);
    border-radius: 0px 10px 10px 0px;
}
h1{
    padding: 30px 0px;
    font-family: 'Big Shoulders Display';
    color: var(--Very-light-gray);
    font-size: 2.4em;
    font-weight: 700;
    letter-spacing: 2px;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9em;
    color: var(--Transparent-white);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 45%;
}
a{
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--Very-light-gray);
    font-size: 0.8em;
    font-weight: 600px;
    letter-spacing: 1px;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
} 
.orange a{
    color: var(--Bright-orange);
}
.cyan a{
    color: var(--Dark-cyan);
}
.dark a{
    color: var(--Very-dark-cyan);
}
a:hover{
    border: 2px solid var(--Transparent-white);
    color: var(--Transparent-white);
    background-color: transparent;
}


/* For Mobile device */
@media (max-width: 767px){
    #container{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .orange{
        border-radius: 10px 10px 0px 0px;
    }
    .dark{
        border-radius: 0px 0px 10px 10px;
    }
    p{
        margin-bottom: 20%;
        line-height: 2;
    }
}


/* For Mobile device */
@media (max-width: 480px){
    #container{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .orange{
        border-radius: 10px 10px 0px 0px;
    }
    .dark{
        border-radius: 0px 0px 10px 10px;
    }
    p{
        margin-bottom: 13%;
        line-height: 2;
    }
}
